.tours-page-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin: 5px;
}

@media screen and (max-width: 768px){

  .tours-page-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px){
  .tours-page-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1081px) and (max-width: 1920px){
  .tours-page-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
